body {
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-size: 14px;
    font-style: normal, bold;
    font-variant: normal;
    font-weight: 300, 400, 700, 800;
    line-height: 16.8px;
}

/* Clases de moodle */

.mod-indent-outer, .region-main-box, .container, .img-text {
    padding: 0 !important;
}

/* Fin clases de moodle */

.contenedor {
    width: 960px;
    height: 540px;
    margin: 0 auto;
    background-image: url('../images/fondo.png');
    position: relative;
    /* border: 1px solid rgb(0, 0, 0); */
}

.navegacion {
    margin-top: 10px;
    position: absolute;
    top: 550px;
    width: 100%;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn_atras, .btn_siguiente {
    margin: 0px 20px;
}

.invisible {
    display: none;
}

z-index-0 {
    z-index: -1 !important;
}

z-index-1 {
    z-index: 1 !important;
}

/* App */

.creditos {
    position: absolute;
    top: 20px;
    left: 850px;
}

.cerrar {
    position: absolute;
    top: 20px;
    left: 850px;
}

.correcta {
    font-weight: bold; 
    color: rgb(11, 218, 28);
}

.incorrecta {
    font-weight: bold; 
    color: red;
}