/*
 * Licensed under the MIT license - http://opensource.org/licenses/MIT
 *
 * Copyright (c) 2019 Vaibhav Tandon
 */

.vov{
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both; 
}
.vov.infinte{
    -webkit-animation-iteration-count: infinite;
}
.vov.t-1{
    -webkit-animation-delay: 1.5s;   
}
.vov.t-2{
    -webkit-animation-delay: 2s;   
}
.vov.t-3{
    -webkit-animation-delay: 3s;   
}
.vov.t-4{
    -webkit-animation-delay: 4s;   
}
.vov.t-5{
    -webkit-animation-delay: 5s;   
}
.vov.fast{
    -webkit-animation-duration: 800ms;
}
.vov.faster{
    -webkit-animation-duration: 500ms;
}
.vov.fastest{
    -webkit-animation-duration: 300ms;
}
.vov.slow{
    -webkit-animation-duration: 2s;
}
.vov.slower{
    -webkit-animation-duration: 3s;
}
.vov.slowest{
    -webkit-animation-duration: 4s;
}

.vov{
    animation-duration: 1s;
    animation-fill-mode: both; 
}
.vov.infinte{
    animation-iteration-count: infinite;
}
.vov.t-2{
    animation-delay: 2s;   
}
.vov.t-3{
    animation-delay: 3s;   
}
.vov.t-4{
    animation-delay: 4s;   
}
.vov.t-5{
    animation-delay: 5s;   
}
.vov.fast{
    animation-duration: 800ms;
}
.vov.faster{
    animation-duration: 500ms;
}
.vov.fastest{
    animation-duration: 300ms;
}
.vov.slow{
    animation-duration: 2s;
}
.vov.slower{
    animation-duration: 3s;
}
.vov.slowest{
    animation-duration: 4s;
}

@-webkit-keyframes fade-in-bottom-left{
    from{
        -webkit-opacity: 0;
        -webkit-transform: translate3d(-100%, 100%, 0);
    }
    to{
        -webkit-opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
    }
}
.fade-in-bottom-left{
    -webkit-animation-name: fade-in-bottom-left;
}

@keyframes fade-in-bottom-left{
    from{
        opacity: 0;
        transform: translate3d(-100%, 100%, 0);
    }
    to{
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}
.fade-in-bottom-left{
    animation-name: fade-in-bottom-left;
}

@-webkit-keyframes fade-in-bottom-right{
    from{
        -webkit-opacity: 0;
        -webkit-transform: translate3d(100%, 100%, 0);
    }
    to{
        -webkit-opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
    }
}
.fade-in-bottom-right{
    -webkit-animation-name: fade-in-bottom-right;
}

@keyframes fade-in-bottom-right{
    from{
        opacity: 0;
        transform: translate3d(100%, 100%, 0);
    }
    to{
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}
.fade-in-bottom-right{
    animation-name: fade-in-bottom-right;
}

@-webkit-keyframes fade-in-down{
    from{
        -webkit-opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
    }
    to{
        -webkit-opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
    }
}
.fade-in-down{
    -webkit-animation-name: fade-in-down;
}

@keyframes fade-in-down{
    from{
        opacity: 0;
        transform: translate3d(0, -100%, 0);
    }
    to{
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}
.fade-in-down{
    animation-name: fade-in-down;
}

@-webkit-keyframes fade-in-left{
    from{
        -webkit-opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
    }
    to{
        -webkit-opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
    }
}
.fade-in-left{
    animation-name: fade-in-left;
}

@keyframes fade-in-left{
    from{
        opacity: 0;
        transform: translate3d(-100%, 0, 0);
    }
    to{
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}
.fade-in-left{
    animation-name: fade-in-left;
}

@-webkit-keyframes fade-in-right{
    from{
        -webkit-opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
    }
    to{
        -webkit-opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
    }
}
.fade-in-right{
    -webkit-animation-name: fade-in-right;
}

@keyframes fade-in-right{
    from{
        opacity: 0;
        transform: translate3d(100%, 0, 0);
    }
    to{
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}
.fade-in-right{
    animation-name: fade-in-right;
}

@-webkit-keyframes fade-in-top-left{
    from{
        -webkit-opacity: 0;
        -webkit-transform: translate3d(-100%, -100%, 0);
    }
    to{
        -webkit-opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
    }
}
.fade-in-top-left{
    -webkit-animation-name: fade-in-top-left;
}

@keyframes fade-in-top-left{
    from{
        opacity: 0;
        transform: translate3d(-100%, -100%, 0);
    }
    to{
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}
.fade-in-top-left{
    animation-name: fade-in-top-left;
}

@-webkit-keyframes fade-in-top-right{
    from{
        -webkit-opacity: 0;
        -webkit-transform: translate3d(100%, -100%, 0);
    }
    to{
        -webkit-opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
    }
}
.fade-in-top-right{
    -webkit-animation-name: fade-in-top-right;
}

@keyframes fade-in-top-right{
    from{
        opacity: 0;
        transform: translate3d(100%, -100%, 0);
    }
    to{
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}
.fade-in-top-right{
    animation-name: fade-in-top-right;
}

@-webkit-keyframes fade-in-up{
    from{
        -webkit-opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
    }
    to{
        -webkit-opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
    }
}
.fade-in-up{
    -webkit-animation-name: fade-in-up;
}

@keyframes fade-in-up{
    from{
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
    to{
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}
.fade-in-up{
    animation-name: fade-in-up;
}

@-webkit-keyframes fade-in{
    from{
        -webkit-opacity: 0;
    }
    to{
        -webkit-opacity: 1;   
    }
}
.fade-in{
    -webkit-animation-name: fade-in;
}

@keyframes fade-in{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;   
    }
}
.fade-in{
    animation-name: fade-in;
}

@-webkit-keyframes fade-out-bottom-left{
    from{
        -webkit-opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
    }
    to{
        -webkit-opacity: 0;
        -webkit-transform: translate3d(-100%, 100%, 0);
    }
}
.fade-out-bottom-left{
    -webkit-animation-name: fade-out-bottom-left;
}

@keyframes fade-out-bottom-left{
    from{
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
    to{
        opacity: 0;
        transform: translate3d(-100%, 100%, 0);
    }
}
.fade-out-bottom-left{
    animation-name: fade-out-bottom-left;
}

@-webkit-keyframes fade-out-bottom-right{
    from{
        -webkit-opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
    }
    to{
        -webkit-opacity: 0;
        -webkit-transform: translate3d(100%, 100%, 0);
    }
}
.fade-out-bottom-right{
    -webkit-animation-name: fade-out-bottom-right;
}

@keyframes fade-out-bottom-right{
    from{
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
    to{
        opacity: 0;
        transform: translate3d(100%, 100%, 0);
    }
}
.fade-out-bottom-right{
    animation-name: fade-out-bottom-right;
}

@-webkit-keyframes fade-out-down{
    from{
        -webkit-opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
    }
    to{
        -webkit-opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
    }
}
.fade-out-down{
    -webkit-animation-name: fade-out-down;
}

@keyframes fade-out-down{
    from{
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
    to{
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
}
.fade-out-down{
    animation-name: fade-out-down;
}

@-webkit-keyframes fade-out-left{
    from{
        -webkit-opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
    }
    to{
        -webkit-opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
    }
}
.fade-out-left{
    -webkit-animation-name: fade-out-left;
}

@keyframes fade-out-left{
    from{
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
    to{
        opacity: 0;
        transform: translate3d(-100%, 0, 0);
    }
}
.fade-out-left{
    animation-name: fade-out-left;
}

@-webkit-keyframes fade-out-right{
    from{
        -webkit-opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
    }
    to{
        -webkit-opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
    }
}
.fade-out-right{
    -webkit-animation-name: fade-out-right;
}

@keyframes fade-out-right{
    from{
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
    to{
        opacity: 0;
        transform: translate3d(100%, 0, 0);
    }
}
.fade-out-right{
    animation-name: fade-out-right;
}

@-webkit-keyframes fade-out-top-left{
    from{
        -webkit-opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
    }
    to{
        -webkit-opacity: 0;
        -webkit-transform: translate3d(-100%, -100%, 0);
    }
}
.fade-out-top-left{
    -webkit-animation-name: fade-out-top-left;
}

@keyframes fade-out-top-left{
    from{
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
    to{
        opacity: 0;
        transform: translate3d(-100%, -100%, 0);
    }
}
.fade-out-top-left{
    animation-name: fade-out-top-left;
}

@-webkit-keyframes fade-out-top-right{
    from{
        -webkit-opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
    }
    to{
        -webkit-opacity: 0;
        -webkit-transform: translate3d(100%, -100%, 0);
    }
}
.fade-out-top-right{
    -webkit-animation-name: fade-out-top-right;
}

@keyframes fade-out-top-right{
    from{
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
    to{
        opacity: 0;
        transform: translate3d(100%, -100%, 0);
    }
}
.fade-out-top-right{
    animation-name: fade-out-top-right;
}

@-webkit-keyframes fade-out-up{
    from{
        -webkit-opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
    }
    to{
        -webkit-opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
    }
}
.fade-out-up{
    -webkit-animation-name: fade-out-up;
}

@keyframes fade-out-up{
    from{
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
    to{
        opacity: 0;
        transform: translate3d(0, -100%, 0);
    }
}
.fade-out-up{
    animation-name: fade-out-up;
}

@-webkit-keyframes fade-out{
    from{
        -webkit-opacity: 1;
    }
    to{
        -webkit-opacity: 0;   
    }
}
.fade-out{
    -webkit-animation-name: fade-out;
}

@keyframes fade-out{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;   
    }
}
.fade-out{
    animation-name: fade-out;
}

@-webkit-keyframes roll-in-left{
    from{
        -webkit-opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
    }
    to{
        -webkit-opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
    }
}
.roll-in-left{
    -webkit-animation-name: roll-in-left;
}

@keyframes roll-in-left{
    from{
        opacity: 0;
        transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
    }
    to{
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}
.roll-in-left{
    animation-name: roll-in-left;
}

@-webkit-keyframes roll-in-right{
    from{
        -webkit-opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0) rotate3d(0, 0, 1, 120deg);
    }
    to{
        -webkit-opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
    }
}
.roll-in-right{
    -webkit-animation-name: roll-in-right;
}

@keyframes roll-in-right{
    from{
        opacity: 0;
        transform: translate3d(100%, 0, 0) rotate3d(0, 0, 1, 120deg);
    }
    to{
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}
.roll-in-right{
    animation-name: roll-in-right;
}

@-webkit-keyframes roll-out-left{
    from{
        -webkit-opacity: 1;
    }
    to{
        -webkit-opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
    }
}
.roll-out-left{
    -webkit-animation-name: roll-out-left;
}

@keyframes roll-out-left{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
        transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
    }
}
.roll-out-left{
    animation-name: roll-out-left;
}

@-webkit-keyframes roll-out-right{
    from{
        -webkit-opacity: 1;
    }
    to{
        -webkit-opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0) rotate3d(0, 0, 1, 120deg);
    }
}
.roll-out-right{
    -webkit-animation-name: roll-out-right;
}

@keyframes roll-out-right{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
        transform: translate3d(100%, 0, 0) rotate3d(0, 0, 1, 120deg);
    }
}
.roll-out-right{
    animation-name: roll-out-right;
}

@-webkit-keyframes shake-horizontal{
    0%, 20%, 40%, 60%, 80%, 100%{
        -webkit-transform: translate3d(7px, 0, 0);
    }
    10%, 30%, 50%, 70%, 90%{
        -webkit-transform: translate3d(-7px, 0, 0)
    }
}
.shake-horizontal{
    -webkit-animation-name: shake-horizontal;
}

@keyframes shake-horizontal{
    0%, 20%, 40%, 60%, 80%, 100%{
        transform: translate3d(7px, 0, 0);
    }
    10%, 30%, 50%, 70%, 90%{
        transform: translate3d(-7px, 0, 0)
    }
}
.shake-horizontal{
    animation-name: shake-horizontal;
}

@-webkit-keyframes shake-vertical{
    0%, 20%, 40%, 60%, 80%, 100%{
        -webkit-transform: translate3d(0, 7px, 0);
    }
    10%, 30%, 50%, 70%, 90%{
        -webkit-transform: translate3d(0, -7px, 0)
    }
}
.shake-vertical{
    -webkit-animation-name: shake-vertical;
}

@keyframes shake-vertical{
    0%, 20%, 40%, 60%, 80%, 100%{
        transform: translate3d(0, 7px, 0);
    }
    10%, 30%, 50%, 70%, 90%{
        transform: translate3d(0, -7px, 0)
    }
}
.shake-vertical{
    animation-name: shake-vertical;
}

@-webkit-keyframes slide-in-down{
    from{
        -webkit-transform: translate3d(0, -100%, 0);
        -webkit-visibility: visible;
    }
    to{
        -webkit-transform: translate3d(0, 0, 0);
    }
}
.slide-in-down{
    -webkit-animation-name: slide-in-down;
}

@keyframes slide-in-down{
    from{
        transform: translate3d(0, -100%, 0);
        visibility: visible;
    }
    to{
        transform: translate3d(0, 0, 0);
    }
}
.slide-in-down{
    animation-name: slide-in-down;
}

@-webkit-keyframes slide-in-left{
    from{
        -webkit-transform: translate3d(-100%, 0, 0);
        -webkit-visibility: visible;
    }
    to{
        -webkit-transform: translate3d(0, 0, 0);
    }
}
.slide-in-left{
    -webkit-animation-name: slide-in-left;
}

@keyframes slide-in-left{
    from{
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    to{
        transform: translate3d(0, 0, 0);
    }
}
.slide-in-left{
    animation-name: slide-in-left;
}

@-webkit-keyframes slide-in-right{
    from{
        -webkit-transform: translate3d(100%, 0, 0);
        -webkit-visibility: visible;
    }
    to{
        -webkit-transform: translate3d(0, 0, 0);
    }
}
.slide-in-right{
    -webkit-animation-name: slide-in-right;
}

@keyframes slide-in-right{
    from{
        transform: translate3d(100%, 0, 0);
        visibility: visible;
    }
    to{
        transform: translate3d(0, 0, 0);
    }
}
.slide-in-right{
    animation-name: slide-in-right;
}

@-webkit-keyframes slide-in-up{
    from{
        -webkit-transform: translate3d(0, 100%, 0);
        -webkit-visibility: visible;
    }
    to{
        -webkit-transform: translate3d(0, 0, 0);
    }
}
.slide-in-up{
    -webkit-animation-name: slide-in-up;
}

@keyframes slide-in-up{
    from{
        transform: translate3d(0, 100%, 0);
        visibility: visible;
    }
    to{
        transform: translate3d(0, 0, 0);
    }
}
.slide-in-up{
    animation-name: slide-in-up;
}

@-webkit-keyframes slide-out-down{
    from{
        -webkit-transform: translate3d(0, 0, 0);
    }
    to{
        -webkit-visibility: hidden;
        -webkit-transform: translate3d(0, 100%, 0);
    }
}
.slide-out-down{
    -webkit-animation-name: slide-out-down;
}

@keyframes slide-out-down{
    from{
        transform: translate3d(0, 0, 0);
    }
    to{
        visibility: hidden;
        transform: translate3d(0, 100%, 0);
    }
}
.slide-out-down{
    animation-name: slide-out-down;
}

@-webkit-keyframes slide-out-left{
    from{
        -webkit-transform: translate3d(0, 0, 0);
    }
    to{
        -webkit-visibility: hidden;
        -webkit-transform: translate3d(-100%, 0, 0);
    }
}
.slide-out-left{
    -webkit-animation-name: slide-out-left;
}

@keyframes slide-out-left{
    from{
        transform: translate3d(0, 0, 0);
    }
    to{
        visibility: hidden;
        transform: translate3d(-100%, 0, 0);
    }
}
.slide-out-left{
    animation-name: slide-out-left;
}

@-webkit-keyframes slide-out-right{
    from{
        -webkit-transform: translate3d(0, 0, 0);
    }
    to{
        -webkit-visibility: hidden;
        -webkit-transform: translate3d(100%, 0, 0);
    }
}
.slide-out-right{
    -webkit-animation-name: slide-out-right;
}

@keyframes slide-out-right{
    from{
        transform: translate3d(0, 0, 0);
    }
    to{
        visibility: hidden;
        transform: translate3d(100%, 0, 0);
    }
}
.slide-out-right{
    animation-name: slide-out-right;
}

@-webkit-keyframes slide-out-up{
    from{
        -webkit-transform: translate3d(0, 0, 0);
    }
    to{
        -webkit-visibility: hidden;
        -webkit-transform: translate3d(0, -100%, 0);
    }
}
.slide-out-up{
    -webkit-animation-name: slide-out-up;
}

@keyframes slide-out-up{
    from{
        transform: translate3d(0, 0, 0);
    }
    to{
        visibility: hidden;
        transform: translate3d(0, -100%, 0);
    }
}
.slide-out-up{
    animation-name: slide-out-up;
}

@-webkit-keyframes zoom-in-down{
    from{
        -webkit-opacity: 0;
        -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
        -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    70%{
        -webkit-opacity: 1;
        -webkit-transform: scale3d(0.5, 0.5, 0.5) translate3d(0, 20px, 0);
        -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    }
}
.zoom-in-down{
    -webkit-animation-name: zoom-in-down;
}

@keyframes zoom-in-down{
    from{
        opacity: 0;
        transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
        animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    70%{
        opacity: 1;
        transform: scale3d(0.5, 0.5, 0.5) translate3d(0, 20px, 0);
        animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    }
}
.zoom-in-down{
    animation-name: zoom-in-down;
}

@-webkit-keyframes zoom-in-left{
    from{
        -webkit-opacity: 0;
        -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(-1000px, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    70%{
        -webkit-opacity: 1;
        -webkit-transform: scale3d(0.5, 0.5, 0.5) translate3d(10px, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    }
}
.zoom-in-left{
    -webkit-animation-name: zoom-in-left;
}

@keyframes zoom-in-left{
    from{
        opacity: 0;
        transform: scale3d(0.1, 0.1, 0.1) translate3d(-1000px, 0, 0);
        animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    70%{
        opacity: 1;
        transform: scale3d(0.5, 0.5, 0.5) translate3d(10px, 0, 0);
        animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    }
}
.zoom-in-left{
    animation-name: zoom-in-left;
}

@-webkit-keyframes zoom-in-right{
    from{
        -webkit-opacity: 0;
        -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(1000px, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    70%{
        -webkit-opacity: 1;
        -webkit-transform: scale3d(0.5, 0.5, 0.5) translate3d(-10px, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    }
}
.zoom-in-right{
    -webkit-animation-name: zoom-in-right;
}

@keyframes zoom-in-right{
    from{
        opacity: 0;
        transform: scale3d(0.1, 0.1, 0.1) translate3d(1000px, 0, 0);
        animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    70%{
        opacity: 1;
        transform: scale3d(0.5, 0.5, 0.5) translate3d(-10px, 0, 0);
        animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    }
}
.zoom-in-right{
    animation-name: zoom-in-right;
}

@-webkit-keyframes zoom-in-up{
    from{
        -webkit-opacity: 0;
        -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 1000px, 0);
        -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    70%{
        -webkit-opacity: 1;
        -webkit-transform: scale3d(0.5, 0.5, 0.5) translate3d(0, -20px, 0);
        -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    }
}
.zoom-in-up{
    -webkit-animation-name: zoom-in-up;
}

@keyframes zoom-in-up{
    from{
        opacity: 0;
        transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 1000px, 0);
        animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    70%{
        opacity: 1;
        transform: scale3d(0.5, 0.5, 0.5) translate3d(0, -20px, 0);
        animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    }
}
.zoom-in-up{
    animation-name: zoom-in-up;
}

@-webkit-keyframes zoom-in{
    from{
        -webkit-opacity: 0;
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
    }
    50%{
        -webkit-opacity: 1;
    }
}
.zoom-in{
    -webkit-animation-name: zoom-in;
}

@keyframes zoom-in{
    from{
        opacity: 0;
        transform: scale3d(0.3, 0.3, 0.3);
    }
    50%{
        opacity: 1;
    }
}
.zoom-in{
    animation-name: zoom-in;
}

@-webkit-keyframes zoom-out-down{
    40%{
        -webkit-opacity: 1;
        -webkit-transform: scale3d(0.5, 0.5, 0.5) translate3d(0, -20px, 0);
        -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    to{
        -webkit-opacity: 0;
        -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 1000px, 0);
        -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    }
}
.zoom-out-down{
    -webkit-animation-name: zoom-out-down;
}

@keyframes zoom-out-down{
    40%{
        opacity: 1;
        transform: scale3d(0.5, 0.5, 0.5) translate3d(0, -20px, 0);
        animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    to{
        opacity: 0;
        transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 1000px, 0);
        animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    }
}
.zoom-out-down{
    animation-name: zoom-out-down;
}

@-webkit-keyframes zoom-out-left{
    40%{
        -webkit-opacity: 1;
        -webkit-transform: scale3d(0.5, 0.5, 0.5) translate3d(20px, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    to{
        -webkit-opacity: 0;
        -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(-1000px, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    }
}
.zoom-out-left{
    -webkit-animation-name: zoom-out-left;
}

@keyframes zoom-out-left{
    40%{
        opacity: 1;
        transform: scale3d(0.5, 0.5, 0.5) translate3d(20px, 0, 0);
        animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    to{
        opacity: 0;
        transform: scale3d(0.1, 0.1, 0.1) translate3d(-1000px, 0, 0);
        animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    }
}
.zoom-out-left{
    animation-name: zoom-out-left;
}

@-webkit-keyframes zoom-out-right{
    40%{
        -webkit-opacity: 1;
        -webkit-transform: scale3d(0.5, 0.5, 0.5) translate3d(-20px, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    to{
        -webkit-opacity: 0;
        -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(1000px, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    }
}
.zoom-out-right{
    -webkit-animation-name: zoom-out-right;
}

@keyframes zoom-out-right{
    40%{
        opacity: 1;
        transform: scale3d(0.5, 0.5, 0.5) translate3d(-20px, 0, 0);
        animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    to{
        opacity: 0;
        transform: scale3d(0.1, 0.1, 0.1) translate3d(1000px, 0, 0);
        animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    }
}
.zoom-out-right{
    animation-name: zoom-out-right;
}

@-webkit-keyframes zoom-out-up{
    40%{
        -webkit-opacity: 1;
        -webkit-transform: scale3d(0.5, 0.5, 0.5) translate3d(0, 20px, 0);
        -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    to{
        -webkit-opacity: 0;
        -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
        -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    }
}
.zoom-out-up{
    -webkit-animation-name: zoom-out-up;
}

@keyframes zoom-out-up{
    40%{
        opacity: 1;
        transform: scale3d(0.5, 0.5, 0.5) translate3d(0, 20px, 0);
        animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    to{
        opacity: 0;
        transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
        animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    }
}
.zoom-out-up{
    animation-name: zoom-out-up;
}

@-webkit-keyframes zoom-out{
    from{
        -webkit-opacity: 1;
    }
    50%{
        -webkit-opacity: 0;
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
    }
    to{
        -webkit-opacity: 0;
    }
}
.zoom-out{
    -webkit-animation-name: zoom-out;
}

@keyframes zoom-out{
    from{
        opacity: 1;
    }
    50%{
        opacity: 0;
        transform: scale3d(0.3, 0.3, 0.3);
    }
    to{
        opacity: 0;
    }
}
.zoom-out{
    animation-name: zoom-out;
}

@-webkit-keyframes blur-in{
    from{
        -webkit-opacity: 0;
        -webkit-filter: blur(4px);
    }
    to{
        -webkit-opacity: 1;
        -webkit-filter: blur(0);
    }
}
.blur-in{
    -webkit-animation-name: blur-in;
}

@keyframes blur-in{
    from{
        opacity: 0;
        filter: blur(4px);
    }
    to{
        opacity: 1;
        filter: blur(0);
    }
}
.blur-in{
    animation-name: blur-in;
}

@-webkit-keyframes blur-out{
    from{
        -webkit-opacity: 1;
        -webkit-filter: blur(0);
    }
    to{
        -webkit-opacity: 0;
        -webkit-filter: blur(4px);
    }
}
.blur-out{
    -webkit-animation-name: blur-out;
}

@keyframes blur-out{
    from{
        opacity: 1;
        filter: blur(0);
    }
    to{
        opacity: 0;
        filter: blur(4px);
    }
}
.blur-out{
    animation-name: blur-out;
}

@-webkit-keyframes flash{
    0%, 50%, 100%{
        -webkit-opacity: 1;
    }
    25%, 75%{
        -webkit-opacity: 0;
    }
}
.flash{
    -webkit-animation-name: flash;
}

@keyframes flash{
    0%, 50%, 100%{
        opacity: 1;
    }
    25%, 75%{
        opacity: 0;
    }
}
.flash{
    animation-name: flash;
}

@media (print), (prefers-reduced-motion) {
    .vov{
      -webkit-animation: unset !important;
      animation: unset !important;
      -webkit-transition: none !important;
      transition: none !important;
    }
  }
